* {
  font-family: "Merriweather", serif;
}
body {
  margin: 0px;
  font-weight: 400;
  font-style: normal;
  padding-top: 50px;
  margin: 0;
  padding: 0;
}
.titulo {
  flex-basis: 100%;
  text-align: center;
  margin: 20px;
}

/* NAV BAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 3px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav h1 {
  margin-left: 20px;
  color: #fff;
}


nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 30px;
}

nav ul li a {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #000;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
  background-color: #666;
  color: #fff;
}

nav .fa-solid {
  display: none;
}

/* IMAGEM ABAIXO DO NAV*/
.img1 {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  object-position: center;
  margin: 30px 0px 0px 0px;
  padding: 0;
  display: block;
}

/* SEÇÃO INICIO */
#inicio {
  background-color: #ebebeb;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin: 0;
}

.welcome {
  max-width: 600px;
  text-align: center;
}

.welcome h1 {
  margin-bottom: 20px;
}

.welcome p {
  text-align: justify;
  margin: 20px;
  line-height: 1.8;
  font-size: 1.1em;
}

/* SEÇÃO SOBRE */
.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
  max-width: 1200px;
  width: 95%;
}

.sobre h1 {
  text-align: center;
  margin-bottom: 40px;
  width: 100%;
}

.sobre-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.coluna-esquerda,
.coluna-direita {
  flex: 1;
  width: 100;
  padding: 0 15px;
}

.coluna-esquerda p,
.coluna-direita p {
  text-align: justify;
  margin: 20px 0;
  line-height: 1.8;
  font-size: 1.1em;
}

.sobre div {
  max-width: none;
  margin: 0 auto;
}

.sobre p {
  text-align: justify;
  margin: 20px;
}
.sobre iframe {
  width: 100%;
  max-width: 700px;
  height: 400px;
  margin: 20px 0;
  border: 2px solid #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 8px;
}

/* SECTION DEUSES / HEROIS */
#deuses {
  margin: 40px auto;
  padding: 20px 0px;
  margin-bottom: 60px;
  line-height: 1.8;
  font-size: 1.1em;
}

#herois {
  margin: 40px auto;
  padding: 20px 0px;
  margin-top: 60px;
  line-height: 1.8;
  font-size: 1.1em;
}

#deuses .card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 90%;
  margin: 0 auto;
}

#deuses .card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: calc(27% - 10px);
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

#deuses .card h3,
#deuses .card p {
  margin: 16px 0 8px;
  text-align: center;
}

#herois .card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
  margin: 0 auto;
}

#herois .card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 80%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

#herois .card:hover,
#deuses .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
  width: 10rem;
  border-radius: 8px 8px 0 0;
  height: 10rem;
}

#herois .card img {
  width: 8rem;
  height: 8rem;
}

.card h3 {
  margin: 16px 0 8px;
  text-align: center;
}

#deuses .card p {
  color: #666;
  text-align: justify;
  line-height: 1.8;
  font-size: 1.1em;
  margin: 20px 0;
}

#herois .card p {
  color: #666;
  text-align: justify;
  line-height: 1.8;
  font-size: 1.1em;
  margin: 20px 0;
}

.card p {
  color: #666;
  text-align: justify;
  line-height: 1.8;
  font-size: 1.1em;
  margin: 20px 0;
}

/* FOOTER */
footer {
  background-color: #ebebeb;
}

.footer1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 50px;
  background-color: #ebebeb;
}

.footer1 .sobrenos {
  width: 45%;
  text-align: center;
  margin: 0;
  background-color: #ebebeb;
}

.footer1 .social {
  width: 45%;
  text-align: center;
  margin: 0;
  background-color: #ebebeb;
}

.footer1 h1 {
  text-indent: 5px;
}

.footer1 p {
  text-align: justify;
}

/* SOBRE NÓS */
.sobrenos {
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin-bottom: 20px;
  margin: 20px auto;
}

/* FOOTER ICONS */
.social {
  width: 100%;
  text-align: center;
}

.social ul {
  display: flex;
  justify-content: center;
  padding: 0px;
  list-style: none;
  color: black;
}

.social h1 {
  flex-basis: 100%;
}

.social i {
  color: black;
  font-size: 32px;
  margin: 0 10px;
}

.social i:hover {
  color: #666;
}

/* FOOTER IFPB */
.footer2 {
  display: flex;
  justify-content: center;
  padding: 5px;
  color: white;
  background-color: black;
}

.footer2 a {
  color: white;
  text-decoration: none;
}

.footer2 a:hover {
  text-decoration: underline;
}

/* RESPONSIVIDADE */
@media (max-width: 1024px) {
  nav .fa-solid {
    display: none;
  }
  main #inicio {
    flex-direction: column;
  }
  .img1 {
    margin-top: 60px;
    height: 400px;
  }
  .card-container {
    flex-direction: row;
    align-items: stretch;
  }
  .card {
    width: 80%;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  nav {
    display: flex;
    gap: 50%;
  }
  nav .fa-solid {
    display: block;
    font-size: 30px;
  }
  nav ul {
    display: none;
  }
  nav h1 {
    margin-left: 0;
  }
  nav {
    justify-content: center;
  }
  .img1 {
    margin-top: 30px;
    height: 70vh;
  }
  #inicio iframe {
    width: 100%;
    height: 300px;
  }
  .sobre iframe {
    width: 100%;
    height: 300px;
  }
  .sobre div {
    margin: 30px 0;
  }
  .card-container {
    justify-content: center;
  }
  #deuses .card {
    width: 80%;
  }
  .card {
    width: 300px;
  }
  .footer1 {
    flex-direction: column;
  }
  .footer1 .sobrenos {
    width: 80%;
  }
}
@media (max-width: 570px) {
  nav {
    display: flex;
    gap: 23%;
  }
  .img1 {
    margin-top: 60px;
    height: 40vh;
  }
  .sobre iframe {
    width: 90%;
    height: 200px;
  }
  #inicio iframe {
    width: 100%;
    height: 300px;
  }
}