/* Global Styles */
* {
  font-family: "Merriweather", serif;
}

body {
  margin: 0;
  font-weight: 400;
  font-style: normal;
  padding: 0;
}

.titulo {
  flex-basis: 100%;
  text-align: center;
  margin: 20px;
  font-family: "Merriweather", serif;
  font-weight: 700; /* Bold */
}

/* NAV BAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: #000000;
  padding: 5px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav h1 {
  margin-left: 20px;
  color: #fff;
  font-family: "Merriweather", serif;
  font-weight: 900; /* negrito */
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 30px;
}

nav ul li a {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "Merriweather", serif;
  font-weight: 400; /* regular */
}

nav ul li a:hover {
  background-color: #666;
  color: #fff;
}

nav .fa-solid {
  display: none;
}

/* IMAGEM ABAIXO DO NAV */
.img1 {
  width: 100%;
  object-fit: cover;
}

/* SEÇÃO INICIO */
#inicio {
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin: 0;
}

.welcome {
  max-width: 600px;
  margin: 20px;
  text-align: center;
}

.welcome h1 {
  margin-bottom: 20px;
  font-family: "Merriweather", serif;
  font-weight: 700; /* meio negrito */
}

.welcome p {
  text-align: justify;
  margin: 20px;
  line-height: 1.8;
  font-size: 1.1em;
  font-family: "Merriweather", serif;
  font-weight: 400; /* regular */
}

/* SEÇÃO SOBRE */
.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
  max-width: 1200px;
  width: 95%;
}

.sobre h1 {
  text-align: center;
  margin-bottom: 40px;
  width: 100%;
  font-family: "Merriweather", serif;
  font-weight: 900; /* negrito */
}

.sobre-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.coluna-esquerda,
.coluna-direita {
  flex: 1;
  width: 100%;
  padding: 0 15px;
}

.coluna-esquerda p,
.coluna-direita p {
  text-align: justify;
  margin: 20px 0;
  line-height: 1.8;
  font-size: 1.1em;
  font-family: "Merriweather", serif;
  font-weight: 400; /* regular */
}

.sobre div {
  max-width: none;
  margin: 0 auto;
}

.sobre p {
  text-align: justify;
  margin: 20px;
}

.sobre iframe {
  width: 100%;
  max-width: 700px;
  height: 400px;
  margin: 20px 0;
  border: 2px solid #000;
}

/* SECTION DEUSES / HEROIS */
#deuses {
  margin: 40px auto;
  padding: 20px 0;
}

#herois {
  margin: 40px auto;
  padding: 20px 0;
}

#deuses .card-container,
#herois .card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
  margin: 0 auto;
}

#deuses .card,
#herois .card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 80%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

#deuses .card:hover,
#herois .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
  width: 10rem;
  border-radius: 8px 8px 0 0;
  height: 10rem;
}

#herois .card img {
  width: 8rem;
  height: 8rem;
}

.card h3 {
  margin: 16px 0 8px;
  text-align: center;
  font-family: "Merriweather", serif;
  font-weight: 700; /* meio negrito (negrito é 900) */
}

#deuses .card p,
#herois .card p,
.card p {
  color: #666;
  text-align: justify;
  line-height: 1.8;
  font-size: 1.1em;
  font-family: "Merriweather", serif;
  font-weight: 400; /* regular */
  margin: 20px 0;
}

/* FOOTER */
footer {
  background-color: #ebebeb;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 50px;
}

.footer .footer-section {
  width: 30%;
  text-align: left;
  margin: 0;
  position: relative;
}

.footer h1 {
  text-indent: 5px;
  margin-bottom: 10px;
  position: relative;
  font-family: "Merriweather", serif;
  font-weight: 900; /* negrito, + pesado */
}

.footer h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.footer1 p {
  text-align: justify;
  margin-top: 20px;
  font-family: "Merriweather", serif;
  font-weight: 400; /* regular */
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin-left: 20px;
  text-align: left;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #000;
  font-family: "Merriweather", serif;
  font-weight: 400; /* regular */
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-section-social ul {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  list-style: none;
}

.footer-section-social i {
  color: black;
  font-size: 32px;
  margin: 0 10px;
}

.footer-section-social i:hover {
  color: #666;
}

/* FOOTER Direitos */
.footer-bottom {
  text-align: center;
  padding: 5px;
  color: white;
  background-color: black;
}

.footer-bottom a {
  color: white;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.footer-bottom .lei {
  text-decoration: underline;
}

/* RESPONSIVIDADE */
@media (min-width: 769px) {
  nav ul {
    display: flex;
    flex-direction: row;
    position: static;
    background-color: transparent;
    width: auto;
    text-align: left;
  }
  nav ul li {
    margin: 0 10px;
  }
  nav ul li a {
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
  }
}

@media (max-width: 1024px) {
  nav .fa-solid {
    display: none;
  }
  main #inicio {
    flex-direction: column;
  }
  .img1 {
    margin-top: 60px;
    height: 400px;
  }
  .card-container {
    flex-direction: row;
    align-items: stretch;
  }
  .card {
    width: 80%;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav .fa-solid {
    display: block;
    font-size: 30px;
    cursor: pointer;
    margin-left: 20px;
  }
  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #000;
    width: 100%;
    text-align: center;
  }
  nav ul li {
    margin: 10px 0;
  }
  nav ul li a {
    color: #000;
    padding: 10px 0;
    text-decoration: none;
  }
  nav h1 {
    margin-left: 0;
  }
  nav {
    justify-content: center;
  }
  .img1 {
    margin-top: 30px;
    height: 70vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  #inicio iframe {
    width: 100%;
    height: 300px;
  }
  .sobre iframe {
    width: 100%;
    height: 300px;
  }
  .sobre div {
    margin: 30px 0;
  }
  .card-container {
    justify-content: center;
  }
  #deuses .card {
    width: 80%;
  }
  .card {
    width: 300px;
  }
  .footer1 {
    flex-direction: column;
  }
  .footer1 .footer-section {
    width: 80%;
  }
}

@media (max-width: 570px) {
  nav {
    display: flex;
    gap: 23%;
  }
  .img1 {
    margin-top: 60px;
    height: 40vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .sobre iframe {
    width: 90%;
    height: 200px;
  }
  #inicio iframe {
    width: 100%;
    height: 300px;
  }
}